<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiacer.modules.mybatis.dao.LoginStatusMapper">
	<resultMap id="BaseResultMap"
		type="com.jiacer.modules.mybatis.entity.LoginStatusEntity">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="USER_ID" jdbcType="INTEGER" property="userId" />
		<result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
		<result column="SOURCE" jdbcType="VARCHAR" property="source" />
		<result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
		<result column="LOGIN_FLAG" jdbcType="VARCHAR" property="loginFlag" />
		<result column="LOGIN_TIME" jdbcType="TIMESTAMP" property="loginTime" />
		<result column="LAST_ACTIVE_TIME" jdbcType="TIMESTAMP" property="lastActiveTime" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, USER_ID, MOBILE, SOURCE, OPEN_ID, LOGIN_FLAG, LOGIN_TIME,
		LAST_ACTIVE_TIME
	</sql>
	<select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_status
		where ID = #{id,jdbcType=INTEGER}
	</select>
  <select id="findList" resultMap="BaseResultMap" parameterType="com.jiacer.modules.mybatis.entity.LoginStatusEntity" >
    select <include refid="Base_Column_List"/>
    from login_status
    <where>
    	<if test="userId != null">
	  	and USER_ID = #{userId,jdbcType=INTEGER}
	    </if>
	    <if test="mobile != null">
	   	and MOBILE = #{mobile,jdbcType=VARCHAR}
	   	</if>
	   	<if test="source != null">
	   	and SOURCE = #{source,jdbcType=VARCHAR}
	   	</if>
	   	<if test="openId != null">
	   	and OPEN_ID = #{openId,jdbcType=VARCHAR}
	   	</if>
    </where>
  </select>
	<insert id="insert" parameterType="com.jiacer.modules.mybatis.entity.LoginStatusEntity">
		insert into login_status
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="mobile != null">
				MOBILE,
			</if>
			<if test="source != null">
				SOURCE,
			</if>
			<if test="openId != null">
				OPEN_ID,
			</if>
			<if test="loginFlag != null">
				LOGIN_FLAG,
			</if>
			<if test="loginTime != null">
				LOGIN_TIME,
			</if>
			<if test="lastActiveTime != null">
				LAST_ACTIVE_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				#{source,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="loginFlag != null">
				#{loginFlag,jdbcType=VARCHAR},
			</if>
			<if test="loginTime != null">
				#{loginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastActiveTime != null">
				#{lastActiveTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.jiacer.modules.mybatis.entity.LoginStatusEntity">
		update login_status
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				SOURCE = #{source,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				OPEN_ID = #{openId,jdbcType=VARCHAR},
			</if>
			<if test="loginFlag != null">
				LOGIN_FLAG = #{loginFlag,jdbcType=VARCHAR},
			</if>
			<if test="loginTime != null">
				LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastActiveTime != null">
				LAST_ACTIVE_TIME = #{lastActiveTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>