<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiacer.modules.mybatis.dao.SchoolsMapper">
    <resultMap id="BaseResultMap" type="com.jiacer.modules.mybatis.entity.SchoolsEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="privince" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="school_address" jdbcType="VARCHAR" property="schoolAddress"/>
        <result column="school_phone" jdbcType="VARCHAR" property="schoolPhone"/>
        <result column="contacts" jdbcType="VARCHAR" property="contacts"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="apply_courses" jdbcType="VARCHAR" property="applyCourses"/>
        <result column="is_usable" jdbcType="VARCHAR" property="isUsable"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="add_account" jdbcType="VARCHAR" property="addAccount"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="modify_account" jdbcType="VARCHAR" property="modifyAccount"/>
        <result column="learn_types" jdbcType="VARCHAR" property="learnTypes"/>
        <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    </resultMap>
    <sql id="Base_Column_List">
        id, school_name,privince,city,area, school_address, school_phone, contacts, contact_phone, remarks, apply_courses, is_usable,
        add_time, add_account, modify_time, modify_account, logo_url
    </sql>
    <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from institution_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.jiacer.modules.mybatis.entity.SchoolsEntity">
        insert into institution_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="schoolName != null">
                school_name,
            </if>
            <if test="province != null">
                privince,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="schoolAddress != null">
                school_address,
            </if>
            <if test="contacts != null">
                contacts,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="applyCourses != null">
                apply_courses,
            </if>
            <if test="isUsable != null">
                is_usable,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="addAccount != null">
                add_account,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="modifyAccount != null">
                modify_account,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="schoolName != null">
                #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="schoolAddress != null">
                #{schoolAddress,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="applyCourses != null">
                #{applyCourses,jdbcType=VARCHAR},
            </if>
            <if test="isUsable != null">
                #{isUsable,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addAccount != null">
                #{addAccount,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyAccount != null">
                #{modifyAccount,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.jiacer.modules.mybatis.entity.SchoolsEntity">
        update institution_info
        <set>
            <if test="schoolName != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                privince = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="schoolAddress != null">
                school_address = #{schoolAddress,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                contacts = #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contact_phone = #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="applyCourses != null">
                apply_courses = #{applyCourses,jdbcType=VARCHAR},
            </if>
            <if test="isUsable != null">
                is_usable = #{isUsable,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addAccount != null">
                add_account = #{addAccount,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyAccount != null">
                modify_account = #{modifyAccount,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="count" parameterType="map" resultType="int">
        select
        count(0)
        from institution_info
        <where>
            <if test="isUsable != null and isUsable != ''">
                is_usable = #{isUsable,jdbcType=VARCHAR}
            </if>
            <if test="schoolName != null and schoolName != ''">
                and school_name like #{schoolName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getPageList" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,(select group_concat(t.type_name) from learn_types t where t.institution_info_id=s.id) learn_types
        from institution_info s
        <where>
            <if test="isUsable != null and isUsable != ''">
                is_usable = #{isUsable,jdbcType=VARCHAR}
            </if>
            <if test="schoolName != null and schoolName != ''">
                and school_name like #{schoolName,jdbcType=VARCHAR}
            </if>
        </where>
        order by add_time desc
        limit #{offset},#{pageSize}
    </select>

    <select id="findAllList" parameterType="com.jiacer.modules.mybatis.entity.SchoolsEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,(select group_concat(t.type_name) from learn_types t where t.institution_info_id=s.id) learn_types
        from institution_info s
        <where>
            <if test="isUsable != null and isUsable != ''">
                is_usable = #{isUsable,jdbcType=VARCHAR}
            </if>
        </where>
        order by add_time asc
    </select>

</mapper>